---
import hero from '../assets/hero.png';

// Define interface for props
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

// Get props with defaults
const { 
  title = "Reely App - Async Video Chat",
  description = "Reely App is a mobile-first platform for async video chat. Download Reely App today and experience the future of video communication.",
  image = hero.src
} = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<meta name="keywords" content="Reely, Reely App, asynchronous video, video conversations, mobile-first platform, TikTok alternative, Snapchat alternative, reel, reels, async video chat, async video messaging, async video sharing, async video platform, async video communication, async video app">
		<meta name="author" content="Reely Studios">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={image}>
		<meta property="og:url" content="https://getreely.app">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={image}>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
